#app-container {
    margin-bottom: 10%;
}

.contenedor-totales {
    background-color: #646262;
    border: 1px solid #3d3b3b;
    border-radius: 3px;
}

.form-totalesRendiciones {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}

.form-enviarRendicion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.9rem;
}

.form-enviarRendicion .contenedor-textarea {
    width: 60%;
}
