.contenedor-totales {
    background-color: #646262;
    border: 1px solid #3d3b3b;
}

.form-totalesRendiciones {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}

.form-enviarRendicion {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9rem;
}

.form-enviarRendicion input {
    width: 70%;
}