<form id="frmRegister" name="formRegister">
    <div id="formRegisterContainer" class="container login-form-container mt-2">
        <div class="mb-3">
            <label for="txtMail" class="form-label">Correo electrónico</label>
            <input type="mail" class="form-control" id="txtMail" name="txtMail">
        </div>

        <div class="mb-3">
            <div class="row">
                <div class="col-md-12">
                    <label for="txtRazSoc" class="form-label">Razón Social</label>
                    <input type="text" id="txtRazSoc" name="txtRazSoc" class="form-control">
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="row">
                <div class="col-md-6">
                    <label for="cboRubro" class="form-label">Rubro de venta</label>
                    <div id="cboRubros_Multiselect" class="multiselect">
                        <div class="selectBox" onclick="showOptions()">
                            <select id="cboRubro" class="form-select" name="cboRubro"></select>
                            <div class="overSelect"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="txtTelefono" class="form-label">Teléfono</label>
                    <input type="tel" id="txtTelefono" name="txtTelefono" class="form-control">
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="row">
                <div class="col-md-12">
                    <label for="txtRazSoc" class="form-label">Comentario</label>
                    <textarea name="comentario" id="comentario" rows="4" cols="45"></textarea>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="row">
                <div class="col-md-6">
                    <label for="txtUbicacion" class="form-label">Ubicación</label>
                    <input type="text" id="txtUbicacion" name="txtUbicacion" class="form-control">        
                </div>
                <div class="col-md-6">
                    <button type="button" id="btnRegistrarse" name="btnRegistrarse" class="btn">Quiero que me contacten</button>
                </div>
            </div>
        </div>
    </div>
</form>