<form id="frmLogin">
    <div class="container login-form-container mt-2">
        <div class="mb-3">
            <label for="txtUsuario" class="form-label">Número de cliente</label>
            <input type="text" class="form-control" id="txtNroCliente" name="txtNroCliente">
        </div>

        <div class="mb-3">
            <label for="txtPassword" class="form-label">Contraseña</label>
            <input type="password" id="txtPassword" name="txtPassword" class="form-control">
        </div>

        <div id="selector-sucursales-container" class="mb-3" style="display:none">
            <label for="cboSucursales" class="form-label">Sucursales</label>
            <select id="cboSucursales" name="cboSucursales" class="form-control"></select>
        </div>

        <div class="mb-3">
            <div class="form-check">
                <input type="checkbox" id="chkMantenerSession" name="chkMantenerSession" class="form-check-input">
                <label class="form-check-label" for="chkMantenerSession">
                    Mantener sesión iniciada
                </label>
            </div>
        </div>

        <div class="mb-3">
            <a href="#">Olvidé mi contraseña</a>
        </div>

        <div class="mb-3">
            <div class="row">
                <button type="button" id="btnIniciarSesion" name="btnIniciarSesion" class="btn">Iniciar Sesión</button>
            </div>
        </div>
    </div>
</form>