.dataTables_wrapper {
    margin: 3% 0;
}



table.dataTable thead th, table.dataTable thead td {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 18px;
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
    margin: 9%;
}