/*body {font-family: 'futura';}*/
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    border-radius: 5px;

}


#container-rentabilidad {
  /*  font-family: 'futura';*/
    background-color: #e5e5e5;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 65vh;
    border-radius: 10px;
    
}

#container-rentabilidad h6 {
    border-bottom: 0.1vw solid black;
    margin: 2%;
    text-align: center;
}

#container-rentabilidad .contenedor-mgGral div, #container-rentabilidad .contenedor-mgEsp div {
    margin: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.titulo-ganancia {
    color: #009ada;
    text-align: center;
   /* font-family: 'futura';*/
    padding-top: 2%;
    font-weight: 300;
}

.margenesEsp ul {
    list-style: none;
    display: flex;
    margin-bottom: 0;
    padding: 0;
    justify-content: center;

}

.margenesEsp ul li {
    border: solid 1px #009ada;
    width: 17%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5%;
    

}

.margenesEsp .cabecera li {
    border: solid 0px #009ada;
    background: linear-gradient(183deg, #009ada, #364fb7);
    font-weight: 500;
    color: aliceblue;
}

.margenesEsp .left {
    border-left: solid 2px #009ada;
}

.margenesEsp .right {
    border-right: solid 2px #009ada;
}

.contenedor-boxes select {
    width: 20%;
    margin: auto 5%;
}


#buttonposition
{ display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
    /* border: solid 0px #546bce;
    background: linear-gradient(183deg, #009ada, #364fb7);
    font-weight: 500;
    color: aliceblue;
    margin-top: 2%;
    display: flex; */

}

#buttonM
{
    border: solid 0px #546bce;
    background: linear-gradient(183deg, #009ada, #364fb7);
    font-weight: 700;
    font-size: 25px;
    width: 47px;
    height: 46px;
    color: aliceblue;
    margin: 1%;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 30px;
    

}


#buttonX
{
    border: solid 0px #546bce;
    background: linear-gradient(183deg, #009ada, #364fb7);
    font-weight: 500;
    width: 47px;
    height: 46px;
    color: aliceblue;
    margin: 1% 6.7% 1% 0%;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 30px;

}







#buttonoption
{ display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

}





#Aceptar
{
    border: solid 0px #546bce;
    background: linear-gradient(183deg, #009ada, #364fb7);
    font-weight: 500;
    width: 80px;
    height: 30px;
    color: aliceblue;
    margin: 1%;
    justify-content: center;
    align-items: center;
    display: flex; 
    

}


#Cerrar
{
    border: solid 0px #546bce;
    background: linear-gradient(183deg, #009ada, #364fb7);
    font-weight: 500;
    width: 80px;
    height: 30px;
    color: aliceblue;
    margin: 1%;
    justify-content: center;
    align-items: center;
    display: flex; 

}


