/* button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    border-radius: 8px;
    border-color: cornflowerblue;
    width: 21%;
    height: 28px;
} */








#container-rentabilidad {
    font-family: 'futura';
    background-color: #e5e5e547;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    /* margin-bottom: 4%; */

}



#container-rentabilidad h6 {
    border-bottom: 2px dotted #009ada;
    padding: 2% 0% 0.3% 0%;
}

/* #container-rentabilidad .contenedor-mgGral div, #container-rentabilidad .contenedor-mgEsp div {

} */



.titulo-ganancia {
    color: #009ada;
    text-align: center;
    /* font-family: 'futura';*/
    font-weight: 300;
}






.contenedor-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
   
}



.contenedor-boxes div
 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 321px;
    height: 30px;
    margin: 0%;
    margin-top: 2%;

   
}


.contenedor-boxes div select {
    width: 62%;
    border-radius: 10px;
    border: 1px solid;
    border-color: #009ada
    
}


.contenedor-boxes div label {
    width: 37%;
    display: flex;
    align-items: center;
 

}





.contenedor-inputs 
{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-right: 35.5%;
    margin-top: 1%;
    margin-bottom: 4%;
    
}



.contenedor-inputs div 
{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 321px;
  margin-top: 2%;
}


.contenedor-input:last-child {
    margin-right: 0;
    /* Eliminar el margen derecho del último contenedor */
}



.contenedor-inputs div input {
    width: 62%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid;
    border-color: #009ada;
    text-align: right;
}

.contenedor-inputs div label {
    width: 37%;
    display: flex;
    align-items: center;

}





.contenedor-inputs2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 4%;
}


.contenedor-inputs2 div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 321px;
    margin-top: 2%;


}


.contenedor-inputs2 div input {
    width: 62%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid;
    border-color: #009ada;
    text-align: right;
}

.contenedor-inputs2 div label {
    width: 37%;
    display: flex;
    align-items: center;

}





.contenedor-inputs2 button {
    width: 100%;
    border: solid 0px #546bce;
    background: linear-gradient(183deg, #009ada, #364fb7);
    font-weight: 500;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    display: flex; 
    flex-wrap: wrap;
    border-radius: 10px;
    margin-left: 39%;

}





.margenesEsp ul {
    list-style: none;
    display: flex;
    margin-bottom: 0;
    padding: 0;
    justify-content: center;

}

.margenesEsp ul li {
    border: solid 1px #009ada;
    width: 17%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5%;


}


.margenesEsp .cabecera li {
    border: solid 0px #009ada;
    background: linear-gradient(183deg, #009ada, #364fb7);
    font-weight: 500;
    color: aliceblue;
}



.margenesEsp .left {
    border-left: solid 2px #009ada;
}

.margenesEsp .right {
    border-right: solid 2px #009ada;
}

.margenesEsp .down {
    border-bottom: solid 2px #009ada;
}


#buttonposition 
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



#buttonM 
{
    border: solid 0px;
    background: none;
    width: 50px;

}



#buttonX
{
    border: solid 0px;
    background: none;
    width: 50px;

}



#buttonoption 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}



#Aceptar 
{
    border: solid 0px #546bce;
    background: linear-gradient(183deg, #009ada, #364fb7);
    font-weight: 500;
    width: 20%;
    height: 35px;
    color: aliceblue;
    margin: 1%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex; 
    border-radius: 10px;


}


#Cerrar 
{
    border: solid 0px #546bce;
    background: linear-gradient(183deg, #009ada, #364fb7);
    font-weight: 500;
    width: 20%;
    height: 35px;
    color: aliceblue;
    margin: 1%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex; 
    border-radius: 10px;


}


.buttonX:hover {
    opacity: 80%;
}


.zoom:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.zoom {
    transition: transform 0.2s;
}



@media (min-width: 1400px){
    
    .contenedor-inputs {
    margin-right: 37.5%;
   
    
}
}



@media (max-width: 1199.98px) {
    
    .contenedor-inputs {
        margin-right: 0%;
        justify-content: space-between;
        width: 65%;

    }

    
    .contenedor-inputs div {
        margin-right: 0%;
        justify-content: space-between;
        width: 280px;

    }


    .contenedor-boxes div {
        width: 280px;
    }
    

    .contenedor-inputs2 div {
        width: 280px;

    }


}






 

@media (max-width: 992px){
    
    #container-rentabilidad {
        font-size: 2%;
        margin-top: 35%;
    }
    .contenedor-inputs {
        margin-right: 15%;
        width: 100%;
    }



.contenedor-boxes div {
    margin-right: 0%
    }





.contenedor-inputs2 div {
    margin-right: 0%;
    }


    #container-rentabilidad {
    margin-bottom: 4%;
    justify-content: space-around;
    
    }




    #container-rentabilidad h6 {
        font-size: 36px;
        text-align: center;
    }
    



    .titulo-ganancia {
        font-size: 68px;
        font-weight: 300;
    }
    


    .contenedor-mgEsp {
        margin-top: 7%;
    }


    .contenedor-inputs {
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 3%;
    }


    .contenedor-inputs div {
        width: 100%;
        justify-content: space-between;
        padding: 3% 0% 0.3% 0%
    }


    .contenedor-boxes {
        flex-direction: column;
        justify-content: space-around;
    }



    .contenedor-boxes div {
        width: 100%;
        padding: 3% 0% 0.3% 0%;
        margin-bottom: 9%;
    }


    .contenedor-inputs2 {
        flex-direction: column;
        justify-content: space-around;
        margin: 0%;
        margin-top: 3%;
        margin-bottom: 3%;

    }


    .contenedor-inputs2 div {
        width: 100%;
        padding: 3% 0% 0.3% 0%
    }


    .contenedor-inputs2 div label {
        width: 37%;

    }


    .contenedor-inputs2 button {
        width: 100%;
        height: 42px;
        margin: 0%;
    }










    #buttonposition 
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto 15px auto;
}





    #buttonM {
        border: solid 0px;
        background: none;
        width: 20%;
    }
    
    #buttonX {
        border: solid 0px;
        background: none;
        width: 20%;
    }
    
    



    #buttonoption {
        justify-content: flex-start;
        flex-direction: column;
        margin: 0%;
    }

    
    #Aceptar {
    width: 100%;
    height: 42px;
    margin: 0%;
    margin-bottom: 3%;
    margin-top: 3%;
    }




    #Cerrar {
    width: 100%;
    height: 42px;
    margin: 0%;
    }

} 