/admin/tmp/
/admin/scripts/tmpcache/
/admin/scripts/autosuggest/tmpcache/
/admin/css/tmpcache/
/admin/ufiles/

/admin/ufiles
/admin/errores/

/app/services/test/
/backups/
derweb_upgrades/.vscode

/tmp/
/tmpcache/
/scripts/tmpcache/
/css/tmpcache/
/app/css/tmpcache/
/app/js/tmpcache/
/app/js/utils/tmpcache/
/app/components/aviso_pago/tmpcache/
/app/components/carrusel/tmpcache/
/app/components/catalogo/tmpcache/
/app/components/catalogo/grid-articulos/tmpcache/
/app/components/catalogo/mi-carrito/tmpcache/
/app/components/catalogo/mi-carrito/boton-mi-carrito/tmpcache/
/app/components/catalogo/mi-carrito/grid-carrito/tmpcache/
/app/components/catalogo/vendedores/tmpcache
/app/components/catalogo/confirmacion-pedido/tmpcache/
/app/components/catalogo/ingreso-pedidos-rapidos/tmpcache/
/app/components/catalogo/panel-opciones/tmpcache/
/app/components/catalogo/ficha-articulo/tmpcache/
/app/components/catalogo/lista-articulos/tmpcache/
/app/components/form/tmpcache/
/app/components/menus/tmpcache/
/app/components/menus/mi_perfil/tmpcache/
/app/components/rendiciones/tmpcache/
/app/components/seguridad/tmpcache/
/app/components/utilities/tmpcache/
/app/components/buscador/tmpcache/
/app/components/carrusel_footer/tmpcache/
/app/components/centro_noticias/tmpcache/
/app/components/lista-articulos/tmpcache/
/app/components/pedidos/detalle_mis_pedidos/tmpcache/
/app/components/pedidos/mis_pedidos/tmpcache/
/app/components/rentabilidad/tmpcache/
/app/components/tabs/tmpcache/
/app/derweb-apis-library/tmpcache/
/app/terceros/lfw-controls-bs/tmpcache/
/app/terceros/lfw-datagrid/tmpcache/
/app/terceros/lfw-modal-bs/tmpcache/
/app/terceros/sweet-alert/tmpcache/
admin/app/administracion/avisos-pagos/tmpcache/
admin/config.php
admin/config.php
