/admin/tmp/
/admin/scripts/tmpcache/
/admin/scripts/autosuggest/tmpcache/
/admin/css/tmpcache/
/admin/ufiles/

/admin/config.php
/admin/ufiles
/admin/errores/
/app/services/test/
/backups/
*.sql
derweb_upgrades/.vscode