/admin/tmp/
/admin/scripts/tmpcache/
/admin/scripts/autosuggest/tmpcache/
/admin/css/tmpcache/
/admin/ufiles/

/admin/config.php
/admin/ufiles
/admin/errores/

/app/services/test/
/backups/
derweb_upgrades/.vscode

/app/js/tmpcache/
/app/js/utils/tmpcache/
/app/css/tmpcache/
/app/components/catalogo/tmpcache/
/app/components/catalogo/confirmacion-pedido/tmpcache/
app/components/catalogo/ingreso-pedidos-rapidos/tmpcache/
/app/components/catalogo/vendedores/pedidos-pendientes/tmpcache/
app/components/catalogo/mi-carrito/tmpcache/
app/components/catalogo/grid-articulos/tmpcache/
app/components/catalogo/ficha-articulo/tmpcache/
app/components/rentabilidad/tmpcache/
app/components/seguridad/tmpcache/
app/components/catalogo/lista-articulos/tmpcache/
/admin/app/administracion/avisos-pagos/tmpcache/
app/components/rendiciones/tmpcache/
app/components/utilities/tmpcache/
app/components/buscador/tmpcache/
app/components/aviso_pago/tmpcache/
app/components/catalogo/mi-carrito/boton-mi-carrito/tmpcache/
app/components/form/tmpcache/
app/components/menus/tmpcache/
app/components/menus/mi_perfil/tmpcache/
app/components/centro_noticias/tmpcache/
app/components/pedidos/mis_pedidos/tmpcache/
app/components/pedidos/detalle_mis_pedidos/tmpcache/
admin/app/administracion/avisos-pagos/tmpcache/
derweb_upgrades/config.json
app/components/catalogo/mi-carrito/grid-carrito/tmpcache