<div class="container misPedidos_detalle">
    <div class="cabecera my-5">
        <h1>DETALLE DE MI PEDIDO</h1>
        <span>{razonSocial} - {nombreSuc}</span>
    </div>
    <table id="contenedor-tabla-misPedidos_detalle" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>CODIGO</th>
                <th>DESCRIPCIÓN</th>
                <th>CANTIDAD</th>
                <th>COSTO UNI.</th>
                <th>IMPORTE IVA</th>
                <th>COSTO TOTAL</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="contenedor-totalPedido mt-5">
        <div class="inputContainer">
            <input disabled class="customInput" type="text" value="$ {total}">
            <label class="inputLabel">Total</label>
            <div class="inputUnderline"></div>
        </div>
    </div>
</div>