/**
 * Este script contiene los estilos correspondiente al botón mi carrito.
*/

.boton-mi-carrito-container {
    position: fixed;
    right: -2;
    bottom: 5px;
    /*float: right;
    background-color: #009ada; */
    border-radius: 90px;
    margin-top: 5px;
    height: 150px;
    width: 150px;
    padding: 5px;
}

.boton-mi-carrito-container img {
    width: 100%;
    height: 100%;
}

.boton-mi-carrito-container a {
    color: #009ada;
    text-decoration: none;
}

.btn-mi-carrito i {
    font-size: 2em;
}