/**
* Contiene las hojas de estilo principal de la aplicación
*/
@import url("../node_modules/@fortawesome/fontawesome-free/css/all.min.css");
@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../components/tabs/tabs.css");
@import url("../modulos/seguridad/seguridad.css");
@import url("../css/header-home.css");
@import url("../css/header-app.css");
@import url("../css/footer-home.css");
@import url("../css/footer-app.css");

@font-face {
    font-family: "futura";
    src: url("../assets/fuentes/fl.ttf");
}

.app-container {
    position: relative;
    background-color: #f5f5f5;
    /*overflow-y: auto;
    overflow-x: hidden;*/
    padding: 3px;
}

/*Es para organizar el ViewPort asi el footer queda abajo del contenido, cuando lo haya*/
#page-container {
    position: relative;
    /*min-height: 100vh;*/
}

#content-wrap {
    /*padding-bottom: 180px;*/
}

#boton_volver {
    margin-left: 200px !important;
}

#app-header-content{
    margin-left: 75%;
}

/* Estilos básicos para portada de clientes */

.toolbar-container {
    position: relative;
    width: 100%;
    max-height: 50px;
}

.menu-container {
    width: 200px;
    height: 50px;
    margin-right: 5px;
    padding: 5px;
}

/* Armo los media query para cuando cambia la resolución de pantalla se adapte. 
    Esto soluciona el problema de que en modo celu el footer tapaba el formulario.
*/
@media screen and (max-width: 1100px) {
    .app-container {
        /*min-height: 100vh;*/
    }
}

@media screen and (max-width: 768px) {
    .app-container {
        /*min-height: 100vh;*/
    }
}

@media screen and (max-width: 580px) {
    .app-container {
        /*min-height: 100vh;*/
    }
    #app-header-content {
        margin-left: 35%;
        align-self: center;
    }

    #nav-quiero-ser-cliente {
        margin-bottom: 12.5em;
    }
}

