/**
 * Contiene el estilo del footer de la portada
*/

/**
 * Contiene el estilo del componente footer.
*/

.home-footer {
    /*position: absolute;*/
    bottom: 0;
    background-color: #003d7c;
    color:white;
    width: 100%;
    padding: 5px;
    height: 180px;
}

.home-footer-container {
    width: 700px;
}

.row align-middle {
    margin-top: 10px !important;
    margin-left: 0 !important;
}

.home-titulo-footer {
    font-family: "futura";
    font-size: 14px;
    font-weight: bold;
    color: #009ada;
}

.home-texto-footer {
    font-family: "futura";
    font-size: 12px;
    text-align: justify;
}

.home-footer-icon {
    width: 45px;
}

.home-footer-row {
    flex: 0 0 auto;
    width: 25%;
    display: inline-block;
}

@media screen and (max-width: 1100px) {
    .col-md-3{
        flex: 0 0 auto;
        /*width: 25%;*/
        /*margin-top: 10px;*/
        display: inline-block;
    }
}

@media screen and (max-width: 768px) {
    #footer{
        height: 390px;
    }
}

@media screen and (max-width: 580px) {
    .home-footer-container {
        width: 100%;
    }

    #borde {
        border:none!important;
        /*border-right:0px solid #dee2e6!important;*/
    }

    .col-6{
        width: 330px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .col-6 .containter {
        width: 330px;
    }

    #redSocial div { 
        width:45px;
        margin-top: 1px;
        margin-left: 6px;
        padding: 5% 9%;
    }

    #cboRubro {
        width: 100%;
    }

    #checkboxes {
        width: 95%;
    }
    
}
