/**
 * Estilo de la cabecera de portada
*/

home-header {
    background-color: white;
}

.home-logo {
    width: 150px;
    align-self: center;
}

#home-logo {
    align-self: center;
}


.home-back-button {
    position: relative;
    float: left;
    width: 125px;
    top: 45px;
}

.home-back-button a {
    font-family: "futura";
    font-weight: bold;
    text-decoration: none;
    color: #003d7c;
}


@media screen and (max-width: 768px){
    .home-back-button {
        top: 0px;
    }
}
@media screen and (min-width: 768px){
    home-header{
        line-height:70px;
    }
}    