
<div class="container footer-container">
    <div class="row justify-content-center">
        <div class="col-6 border-end">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="titulo-footer">DER) DISTRIBUCIONES</h5>
                        <small class="texto-footer">Somos un PYME familiar distribuidora
                            de Autopartes, cuyo foco de negocios está
                            en el conjunto "bajo capó", con un portafolio
                            de más de 50.000 artículos en stock.
                        </small>            
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <small class="texto-footer">
                            Ofrecemos día a día a cada uno de
                            nuestros clientes un eficiente servicio de
                            abastecimiento a nivel nacional e internacional.
                        </small>            
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="titulo-footer">Atención al cliente</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <small class="texto-footer"><i class="fa-solid fa-phone"></i> (+5411) 4846 7500</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <small class="texto-footer"><strong>LUN-VIE</strong> 08h/19h - <strong>SAB</strong> 08h/12h</small>
                    </div>
                </div>
                <div class="row align-middle" style="align-items: center;">
                    <div class="col-md-3">
                        <a href="{0}"><img class="footer-icon" src="{0}" alt=""></a>
                    </div>
                    <div class="col-md-3">
                        <a href="{1}"><img class="footer-icon" src="{1}" alt=""></a>
                    </div>
                    <div class="col-md-3">
                        <a href="{2}"><img class="footer-icon" src="{2}" alt=""></a>
                    </div>
                    <div class="col-md-3">
                        <a href="{3}"><img class="footer-icon" src="{3}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
