
.autocomplete-container
{
	display: inline-block;
	padding: 3px;
	width: 500px;
}

.autocomplete 
{
	/*the container must be positioned relative:*/
	position: relative;
	display: inline-block;
}

.autocomplete-items 
{
	position: absolute;
	border: 1px solid #d4d4d4;
	border-bottom: none;
	border-top: none;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
}

.autocomplete-code
{
	font-size: 9px;
	color: #616161;
	padding: 2px;
	margin: 2px;
	display: inline-block;
	min-width: 10px;
}

.autocomplete-items div 
{
	padding: 6px;
	cursor: pointer;
	background-color: #fafafa;
	border-bottom: 1px solid #616161
}

.autocomplete-items div:hover 
{
	/*when hovering an item:*/
	background-color: #e9e9e9;
}

.autocomplete-active {
	/*when navigating through the items using the arrow keys:*/
	background-color: DodgerBlue !important;
	color: #ffffff;
}

.div-tabla-selector
{
	height: 90%;
	overflow: auto;
}
