body {
	background-color: #f1f1f1 !important;
	font-size: 13px;
}

.bodydebil {
	background-color: #f5f6fa !important;
}


input[type=date], [type=text], [type=password], select {
	padding: 5px;
	border: none;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-radius: 2px;
	background-color: white;
	margin-bottom: 3px;
}

input[type=text]:-moz-read-only {
	background-color: #dfdfdf !important;
}

input[type=text]:read-only {
	background-color: #dfdfdf !important;
}

.fecha {
	width: 140px;
}

.texto {
	width: 100%;
}

.rango_fechas {
	font-size: 12px;
	background-color: whitesmoke;
	font-style: italic;
}

.drop_zone {
	background-color: #EEE;
	border: #999 3px dashed;
	width: 310px;
	height: 80px;
	padding: 8px;
	font-size: 10px;
	color: #616161;
}

.requerido {
	background-color: #eeeeee;
}

.option_destacado {
	background-color: orange;
}

input:focus, textarea:focus, select:focus {
	color: #000000;
	background-color: #f0e68c;
	box-shadow: 0 0 3px rgba(150, 150, 150, 1);
	border: 1px solid rgba(150, 150, 150, 1);
}

.invalido {
	box-shadow: 1px 2px 5px #FF1300 !important;
}

.valido {
	box-shadow: 1px 2px 5px #00A800 !important;
}

textarea {
	width: 100%;
	padding: 5px 5px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 3px;
}

input[type=button], input[type=submit], input[type=reset] {
	border: none;
	display: inline-block;
	padding: 6px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: white;
	background-color: #8bc34a;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	border-radius: 2px;
}

.span-cantidad {
	font-size: 10px !important;
	text-align: center;
	vertical-align: middle;
	color: white;
	background-color: #616161;
	line-height: 18px;
	width: auto;
	min-width: 26px;
	padding: 0px 5px;
	border-radius: 4px;
	display: inline-block;
}

.span-detalle {
	border-radius: 3px;
	background-color: #444444;
	font-size: 0.9em;
	padding: 3px;
	margin: 3px;
	color: #ffffff;
}

.ancho100 {
	width: 99.4% !important;
}

img {
	border-radius: 3px;
}

.w3-margin-small {
	margin: 8px !important
}

.w3-margin-small-bt {
	margin-top: 8px !important;
	margin-bottom: 8px !important;
}

.input-buscar {
	width: 60%;
	margin: 8px;
}

.tblForm {
	width: 100%;
	padding: 5px;
}

table.table-small {
	font-size: 11px !important;
}

.td_etiqueta {
	min-width: 80px;
	max-width: 210px;
	text-align: right !important;
	padding: 6px !important;
	vertical-align: top;
	color: #616161;
}

@media screen and (max-width: 850px) {
	.td_etiqueta {
		min-width: 20px;
		padding: 3px !important;
		vertical-align: middle;
	}
}

.td_dato {
	text-align: left;
	padding: 6px !important;
}

.td_dato_edit {
	text-align: left;
	padding: 3px !important;
}

.td_etiqueta_detalle {
	width: 30%;
	text-align: left !important;
	padding: 3px !important;
	font-size: 11px;
}

.td_dato_detalle {
	text-align: left;
	padding: 3px !important;
	font-size: 11px;
}

.info-version {
	bottom: 0px;
	left: 0px;
	position: fixed;
	width: 100%;
	color: #888888;
	background-color: #fefefe;
	padding: 4px 8px !important;
	font-size: 10px !important;
}

.info-update {
	margin: 20px auto;
	padding: 20px;
	border-radius: 5px;
	background-color: #fff;
	width: 80%;
}

.informacion {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 100%;
	margin-left: 2px;
	margin-top: 2px;
	min-height: 35px;
}

.info-etiqueta {
	padding: 3px;
	min-height: 30px;
	width: 25%;
	max-width: 120px;
	min-width: 95px;
	color: #616161;
}

.info-dato {
	padding: 3px;
	min-height: 30px;
	width: 75%;
}

/* clase para html-div-datos drageable */
.droptarget {
	float: left;
	width: 100%;
	height: auto;
	align-items: center;
	min-height: 50px;
}

@media screen and (max-width: 850px) {
	.informacion {
		padding: 3px;
		display: block;
		min-width: 240px;
		margin-left: 1px;
		margin-top: 2px;
	}

	.info-etiqueta {
		display: block;
		font-weight: normal;
		width: 100%;
	}

	.info-dato {
		display: block;
		min-height: 0px;
	}
}



.td_error {
	border-radius: 3px;
	background-color: #f2552c;
	color: white;
	padding: 10px;
}

.td_resaltado {
	background-color: #999999;
	color: white;
	padding: 6px;
}

.td_resaltado2 {
	background-color: #555555;
	color: white;
	padding: 6px;
}

.align-right {
	text-align: right !important;
}

.align-left {
	text-align: left !important;
}

.align-middle {
	text-align: center !important;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
}

address {
	font-style: normal;
}

.divContainer {
	overflow-x: hidden;
	background-color: white;
}

.divContainerFlex {
	margin: 4px;
	display: flex;
	flex-direction: row;
	gap: 5px;
	flex-wrap: wrap;
}

.divFlotante {
	float: left;
	width: 48%;
	margin: 4px;
}

.grupo-control-boton {
	display: flex;
	flex-direction: row;
}

.div-botones {
	padding: 8px 16px 8px !important;
	border-radius: 2px;
	text-align: center !important;
}

.div-botones-inferior {
	position: fixed;
	left: 0;
	bottom: 0;
	min-height: 40px;
	width: 100%;
	padding: 4px;
	text-align: center;
	background-color: #efefef;
}

.div-barra-inferior {
	position: fixed;
	left: 0;
	bottom: 0;
	min-height: 40px;
	width: 100%;
	padding: 4px;
}

.div-seccion {
	padding: 0.01em 8px;
	background-color: white;
	display: block;
}

.seccion-50 {
	width: 50%;
	display: inline-block;
}

.seccion-50.col2 {
	float: right;
}

.seccion-33 {
	width: 33.33%;
	display: inline-block;
}

.seccion-33.col2 {
	float: right;
}

.seccion-25 {
	width: 25%;
	display: inline-block;
}

.seccion-25.col2 {
	float: right;
}

.seccion-66 {
	width: 66.66%;
	display: inline-block;
}

.seccion-66.col2 {
	float: right;
}

.seccion-75 {
	float: left;
	width: 75%;
	display: inline-block;
}

@media only screen and (max-width: 850px) {
	.divFlotante, .seccion-50, .seccion-33, .seccion-66, .seccion-75 {
		width: 98%;
		display: block;
		float: none !important;
	}

	.seccion-25 {
		width: 50%;
	}
}


.oculto {
	display: none !important;
}


@media screen and (min-width: 1600px) {
	.divFlotante {
		width: 31%;
	}
}

/*Usado para formularios, no solo ver*/
.divFlotanteForm {
	float: left;
	margin: 1px;
	width: 100%;
}

@media screen and (min-width: 1100px) {
	.divFlotanteForm {
		float: left;
		margin: 4px;
		width: 49%;
	}
}

.div-toolbar {
	background-color: #ced6e0;
	padding: 3px;
}

.escritorio-notas {
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
}

.escritorio-nota {
	font-size: 14px;
	padding: 8px;
	min-width: 90px;
	max-width: 205px;
	border-radius: 3px;
}

.historial-horizontal {
	display: flex;
	background-color: #ced6e0;
}

@media screen and (max-width: 820px) {
	.historial-horizontal {
		display: none;
	}
}

.historial-vertical {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 6px;
}

.historial-horizontal>.boton {
	font-size: 12px;
	background-color: white;
	margin-left: 3px;
	margin-top: 3px;
	padding: 5px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.historial-horizontal>.boton-activo {
	background-color: #f0f0f0;
}

.historial-vertical>.boton {
	font-size: 14px;
	padding: 8px;
	min-width: 110px;
	background-color: #dfe6e9;
	border-radius: 3px;
	text-align: center;
	vertical-align: middle;
}

.sc3-resultado {
	margin: 5px;
	padding: 5px;
}

.sc3-toolbar-aceptar {
	margin: 5px;
	padding: 8px;
	text-align: center;
	background-color: #dfdfdf;
}

.expandingcell {
	color: #fff !important;
	background-color: #616161 !important;
	padding: 8px;
	text-align: center;
	border-radius: 4px 4px 0px 0px;
}

.expandingtableinner {
	padding-top: 5px;
	padding-left: 5px;
	background-color: #F0F0F0;
	border-radius: 0px 0px 4px 4px;
}

.td_menuitem {
	padding: 3px;
}

.titulo_menu {
	background-color: #ffffff;
	height: 30px;
	padding: 6px;
	text-align: center;
}

.expandingcellmenu {
	font-size: 14px;
	font-style: normal;
	font-variant: small-caps;
	line-height: normal;

	color: #ffffff;
	text-decoration: none;
	padding: 5px;

	background-color: #607d8b !important;
}

.menuDerecho {
	margin: 0px;
	padding: 0px;
	padding-left: 5px;
	color: #fff !important;
	background-color: #616161 !important;
}

.expandingcellmenuDerecho {
	font-style: normal;
	line-height: normal;

	color: #ffffff;
	text-decoration: none;
	padding: 6px;

	background-color: #626262;
}

.expandingtablemenu {
	border-spacing: 0px;
	background-image: none;
	padding: 0px;
	background-color: #ffffff;
	margin-bottom: 5px;
	margin-left: 2px;
}


.tabla_menu {
	padding: 2px;
	color: #616161 !important;
	background-color: #f0e68c !important;
	border-radius: 3px;
	margin: 5px;
	min-width: 210px;
}

.toolbar_table {
	padding: 9px;
	margin: 5px;
}

.td_toolbar {
	min-width: 170px;
	padding: 8px;
	background-color: #607d8b;
	color: white;
	border-radius: 2px;
	text-align: center;
}

.td_toolbar2 {
	min-width: 170px;
	padding: 8px;
	background-color: #cdcdcd;
	color: white;
	border-radius: 2px;
	text-align: center;
}

.td_toolbar a, .td_toolbar_flat a {
	display: block;
}

.toolboton {
	float: left;
	width: 140px;
	height: 90px;
	padding: 8px;
	background-color: #647687;
	color: white;
	border-radius: 3px;
	text-align: center;
	margin: 4px;
	font-size: 14px !important;
}


.toolboton a {
	display: block;
	height: 75px;
}



.td_toolbar_flat {
	display: block;
	width: 100%;
	padding: 6px;
}

.td_toolbar_small {
	text-align: center;
	padding: 5px;
	min-width: 20px;
}

.td_toolbar:HOVER {
	background-color: #cdcdcd;
	color: black;
	text-decoration: none;
}

.td_toolbar_flat:HOVER {
	background-color: #000;
	color: white;
	text-decoration: none;
}


.opDisable {
	opacity: .3;
}

.boton-fa:HOVER, .boton-fa-sup:HOVER {
	border-radius: 3px;
	color: #cdcdcd;
}

.boton-fa {
	border: none;
	display: inline-block;
	padding: 4px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;

	color: #616161 !important;
}


/* color de los íconos de los controles HtmlInputFile, HTMLSelector */
.boton-fa-control {
	display: inline-block;
	padding: 6px;
	vertical-align: middle;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;

	color: #2980b9;
	border-radius: 20px;
	border: none;
}

.boton-secundario {
	font-size: 13px !important;
	display: inline-block;
	padding: 6px;
	margin: 5px;
	vertical-align: middle;
	text-decoration: none;
	background-color: #f1f1f1;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;

	color: #cdcdcd;
	border-radius: 3px;
	border: none;
}

.boton-secundario:hover {
	text-decoration: none;
	color: #fdfdfd;
	background-color: #616161;
}

.separador-toolbar {
	margin: 7px;
}

.progress-bar {
	background-color: #f1f1f1 !important;
	border-radius: 10px;
}

.progress-bar-actual {
	background-color: #2980b9;
	border-radius: 10px;
	color: white;
	padding: 4px;
	font-size: 11px;
}

.boton-fa-sup {
	color: white;
	border: none;
	display: inline-block;
	padding: 6px;
	vertical-align: middle;
	margin-left: 3px;
	cursor: pointer;
	font-size: 16px;
}

.botonPaginado {
	background-color: #636e72;
}

/*NO tiene color, hay que darselo con los estilos*/
.btn {
	font-size: 16px !important;
	color: #fff !important;
	border: none;
	display: inline-block;
	margin-bottom: 4px;
	padding: 6px 10px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	border-radius: 2px;
	min-width: 120px;
}

.btn-success {
	/* .w3-green */
	background-color: #4CAF50 !important;
}

.btn-warning {
	background-color: #f0ad4e !important;
}

.btn-action {
	font-size: 13px !important;
	color: #fff;
	background-color: #393c3d !important;
}

/*NO tiene color, hay que darselo con los estilos*/
.btn-flat {
	margin: 3px;
	font-size: 14px !important;
	color: #fff !important;
	border: none;
	display: inline-block;
	padding: 4px 10px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	border-radius: 2px;
}


.fa.gris {
	color: #616161;
}

.fa.verde {
	color: green;
}

.fa.amarillo {
	color: #ffc107 !important;
}

.fa.violeta {
	color: purple !important;
}

.fa.naranja {
	color: #ff5722 !important;
}

.fa.azul {
	color: #2980b9 !important;
}


.dlg {
	background-color: #ffffff;
	padding: 0px;
	width: 100%;
}

.dlg-75 {
	margin-top: 10px;
	background-color: #ffffff;
	padding: 5px;
	background-image: none;
	width: 75%;
	margin: auto;
	opacity: 0.95;
}

.opacity95 {
	opacity: 0.95;
}

@media screen and (max-width: 950px) {
	.dlg-75 {
		margin-top: 1px;
		width: 98%;
	}
}

.div-centrada {
	margin: 0 auto;
}

.headerTitulo {
	color: #fff;
	background-color: #2d3436 !important;
	padding: 10px !important;
	font-size: 20px;
	margin: auto;
}

.header-titulo {
	color: #fff;
	background-color: #80b192 !important;
	padding: 2px 10px !important;
	display: flex;
	align-items: center;
}

.header-iconos {
	margin-right: 5px;
	float: right !important;
}

.td_titulo {
	padding: 6px;
	color: #fff;
	background-color: #636e72 !important;
	font-size: 18px;
	text-align: center;
}

.td_titulo2, .td_subtitulo {
	padding: 4px;
	border: 1px solid #95a5a6;
	color: #616161 !important;
	font-size: 15px;
	text-align: center;
	margin: 5px;
	background-color: white;
}

.headerSubtitulo {
	color: black !important;
	background-color: #dcdcdc !important;
	font-size: 14px;
	padding: 6px;
}

.naranja {
	color: orange !important;
}

.fondo-naranja {
	color: #fff !important;
	background-color: #ff9800 !important;
}


.icono-tools {
	color: #616161;
}

.icono-microfono {
	border-radius: 20px;
	margin: 3px;
	padding: 5px;
	height: 30px;
	width: 30px;
	text-align: center;
	background-color: #616161;
	color: white;
}

.icono-microfono-encendido {
	background-color: red;
}

.input_numeric {
	text-align: right;
}

.alto400 {
	height: 400px;
	overflow-y: auto;
}

.cebra-par {
	background-color: #f1f1f1;
}

.cebra-impar {
	background-color: #ffffff;
}

.div-grilla {
	background-color: white;
	padding: 8px 16px !important
}

.sc3-grilla-datos {
	border-collapse: collapse;
	border: 1px solid #ccc;
}

.sc3-grilla-datos .sc3-angosta {
	width: 250px;
}

.sc3-grilla-datos td {
	padding: 6px;
	vertical-align: top;
}

.sc3-grilla-datos thead th {
	padding: 5px;
	text-align: center !important;
	background-color: #757f74;
	color: white;
}

.sc3-grilla-datos tfoot td {
	background-color: #757f74;
	color: white;
}

.sc3-grilla-datos .numerico {
	text-align: right !important;
	min-width: 90px;
}

.sc3-grilla-datos .derecha {
	text-align: right !important;
}

.derecha {
	text-align: right !important;
}

.izquierda {
	text-align: left !important;
}

.centro, .centrada {
	text-align: center !important;
}

.sc3-grilla-datos .izquierda {
	text-align: left !important;
}

.sc3-grilla-datos .centro, .centrada {
	text-align: center !important;
}

.tr_clickeable {
	cursor: pointer;
}

.sc3-tabla-compacta {
	border-collapse: collapse;
	border: 1px solid #ccc;
	font-size: 12px;
}

.sc3-tabla-compacta tbody td {
	padding: 1px;
}

.sc3-tabla-compacta thead th {
	padding: 2px;
	text-align: center;
	background-color: #757f74;
	color: white;
}

.sc3-tabla-compacta tfoot td {
	padding: 2px;
	background-color: #80b063;
	color: white;
}

.iluminada {
	color: #dedede;
	background-color: #616161 !important;
	transition: all .7s ease-in-out;
}


.grid_header {
	color: white;
	background-color: #636e72;
	text-align: center !important;
}

.grid_filter {
	background-color: #E7E9ED;
	vertical-align: bottom;
}

.grid_title {
	color: white;
	background-color: #757f74 !important;
	font-variant: small-caps;
}

.td_operaciones {
	width: 140px;
}

.grid_header2 {
	color: white;
	background-color: #616161;
}

.grid_grupo0 {
	color: #fff !important;
	background-color: #7f8c8d !important;
	font-weight: bold;
}

.grid_grupo1 {
	color: #000 !important;
	background-color: #95a5a6 !important;
}

.grid_grupo0:hover, .grid_grupo1:hover {
	cursor: pointer;
}

.grid_grupo_total {
	font-weight: bold;
	text-align: right;
}

.grid_grupo_cantidad {
	color: #616161;
	font-size: 10px;
	text-align: right;
}


.tabla_resultado {
	display: block;
	border-radius: 3px;
	padding: 5px;
	font-variant: small-caps;
	color: #fff;
	background-color: #cdcdcd;
	width: 99%;
	margin: 3px;
}

.tabla_detalle {
	width: 100%;
	background-color: #fafafa;
	border-radius: 3px;
}

.a_resultado {
	margin-right: 15px;
}

.td_resultado {
	margin-right: 15px;
	padding: 6px;
}

.td_resultado_csv {
	display: inline-block;
	padding-bottom: 3px;
}

@media (max-width: 850px) {
	.td_resultado_csv {
		margin-top: 10px;
	}
}


div.ok {
	padding: 8px;
	margin: 4px;
	display: block;
	background-color: #5cb85c;
	color: white;
	border-radius: 3px;
}

div.warning {
	padding: 10px;
	margin: 5px;
	font-size: 14px;
	display: block;
	background-color: #616161;
	color: white;
	border-radius: 3px;
}


div.error {
	font-size: 14px;
	padding: 10px;
	display: block;
	background-color: #c0392b;
	color: white;
}

.booleano {
	display: inline-block;
	text-align: left;
	min-width: 25px;
}

.booleano.si {
	color: #008800;
}

.booleano.no {
	color: #880000;
}

div.boxejecutando {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	padding: 200px;
	margin: auto;
	background-color: #bdc3c7;
	opacity: 0.70;
	z-index: 3;
}

/* estilo de div para el resultado de la suma de celdas */
div.sumBotRight {
	display: block;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 150px;
	background: #eee;
	border: 1px solid #ddd;
	font-size: small;
	opacity: 0.5;
}

/* estilo de div para feedback al agregar articulos */
.sc3-cartel {
	background-color: #616161;
	color: #fff;
	border-radius: 3px;
	position: fixed;
	min-width: 270px;
	min-height: 40px;
	z-index: 900;
	text-align: center;
	transition: all .5s ease-out;
	margin-left: 40%;
	top: 40%;
	opacity: 0.9;
}

.sc3-cartel p {
	font-size: 18px;
	margin: 5px;
	padding: 5px;
}

.barra {
	display: flex;
}

.barra-buscador {
	padding: 3px;
	background-color: white;
	width: 100%;
}

.barra-buscador-filtro {
	padding: 3px;
	border-radius: 3px;
	margin: 3px;
	background-color: #cdcdcd;
}

.tabla-logo {
	display: flex;
	min-height: 70px;
	max-height: 70px;
	gap: 4px;
	padding: 3px;
	justify-content: space-between;
	align-items: center;
	background-color: white;
}

.menu-fijo {
	position: fixed;
	top: 0;
	width: 100%;
}

.body-menu {
	margin-left: 1px;
	margin-top: 0px !important;
	overflow-x: hidden;
	margin-bottom: 30px;
}

.boton_menu {
	display: block;
	text-align: center;
	padding: 5px;
	width: 40px;
	color: #636e72 !important;
}

.boton_menu:HOVER {
	background-color: #636e72 !important;
	border-radius: 3px;
	color: white !important;
}