.sc3-tabs
{
	margin-top: 8px;
}

.botonSolapa 
{
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	background-color: #218c74;
	color: #ffffff;
	margin-right: 2px;
}

.botonSolapa:hover
{
	background-color:rgba(130, 181, 29, 0.733); 
	color: #000;
	cursor: pointer;
	color: white;
}

.solapaActiva
{
	background-color: rgba(130, 181, 29, 0.733);
	color: white;
}

.solapa 
{
	width: 100%;
}

.tabs-titulo
{
	background-color: #218c74;
	color: #ffffff;
	text-align: center;
	width: 100%;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	padding: 5px;
}

.mostrar-grande
{
	display: none;
}

@media screen and (min-width: 1280px) 
{
	.mostrar-grande
	{
		display: block;
	}

	.ocultar-grande
	{
		display:none;
	}
	
	.solapa-convertible
	{
		margin: 2px;
		display: block !important;
		max-width: 630px;
		float: left;
		border: 1px solid #cccccc;       
		border-radius: 3px;
	}
}