.sc3-tabs {
	margin-top: 8px;
}

.boton-solapa {
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	margin-right: 2px;

	color: #ffffff;
	background-color: #B7B582;
}

.boton-solapa:hover {
	cursor: pointer;

	color: white;
	background-color: #626146;
}

.solapa-activa {
	color: white;
	background-color: #626146;
}

.solapa {
	width: 100%;
}

.tabs-titulo {
	text-align: center;
	width: 100%;
	border-radius: 3px;
	padding: 5px;

	color: #ffffff;
	background-color: #616161;
}

.mostrar-grande {
	display: none;
}

@media screen and (min-width: 1280px) {
	.mostrar-grande {
		display: block;
	}

	.ocultar-grande {
		display: none;
	}

	.solapa-convertible {
		margin: 2px;
		display: block !important;
		max-width: 630px;
		float: left;
		border: 1px solid #cccccc;
		border-radius: 3px;
	}
}