/**
 * Este script contiene el estilo de la grilla de catálogo.
*/

.grid-container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #fff !important;
    padding: 5px;
}

.grid-container .row-lista {
    width: 100%;
    margin-top: 3px;
    border: 1px solid #dddddd;
    margin-left: auto;
    margin-right: auto;
}

.grid-container .info-articulo-foto {
    width: 100%;
    text-align: center;
}

.grid-container .info-articulo-foto img {
    width: 100%;
}

.grid-container .info-articulo-general {
    width: 100%;
    text-align: center;
}

.grid-container .info-articulo-general span {
    font-family: "futura";
    font-weight: bold;
    font-size: 15px;
}

.grid-container .info-articulo-general h4 {
    font-family: "futura";
    font-size: 12px;
    font-weight: bold;
    color: #009ada;
    margin-bottom: 1px;
    margin-top: 3px;
}

.grid-container .info-articulo-pedido {
    width: 400px;
    text-align: center;
}

.grid-container .info-articulo-pedido h5 {
    font-family: "futura";
    font-size: 10px;
    font-weight: bold;
    color: gray;
    margin-bottom: 1px;
    margin-top: 3px;
}

.grid-container .info-articulo-pedido span {
    font-family: "futura";
    font-weight: bold;
    font-size: 15px;
}