.tab-content-ctroNot {
    border-left: 1px solid #003d7c;
    border-right: 1px solid #003d7c;
    padding: 5%;
}

@media (max-width: 1024px) {
    .app-header {
        position: static;
    }

    .main-miperfil {
        margin-top: 0;
    }
}

