.misPedidos {
    font-family: "futura";
    color: rgb(0, 61, 124);
}

.misPedidos .formulario {
    display: flex;
    justify-content: center;
    align-items: center;
}


.misPedidos .cabecera {
    text-align: center;
}

.misPedidos h1 {
    margin-bottom: 0;
    font-weight: bolder;
}

.cuadrado {
    border: 2px solid black;
    height: 300px;
}