.misPedidos_detalle {
    font-family: "futura";
    color: rgb(0, 61, 124);
    min-height: 60vh;
}

.misPedidos_detalle .cabecera {
    text-align: center;
    font-weight: 600;
}

.misPedidos_detalle h1 {
    margin-bottom: 0;
    font-weight: 900;
}

.misPedidos_detalle .contenedor-totalPedido {
    display: flex;
    justify-content: flex-end;
    font-size: 2em;
}


/* responsive 580px */

@media (max-width: 575px) {
    .misPedidos .formulario {
        flex-direction: column;
    }
}