<nav id="top-menu">
    <button id="btnPushMenu" name="btnPushMenu" type="button" class="btn menu-button"><i class="fas fa-bars"></i> Menu</button>

    <div id="menu-options" class="menu_options">
        <!--<a href="javascript:redireccionar(0, 'main.php');"><i class="fas fa-home"></i>&nbsp;&nbsp;Inicio</a>
        <a href="javascript:redireccionar(0, 'listado-articulos.php');"><i class="fas fa-boxes"></i>&nbsp;&nbsp;Catálogo</a>
        <a href="javascript:redireccionar(0, 'ofertas.php');"><i class="fas fa-tags"></i>&nbsp;&nbsp;Ofertas</a>
        <a href="javascript:redireccionar(0, 'confirmar-pedido.php');"><i class="fas fa-shopping-cart"></i>&nbsp;&nbsp;Confirmar pedido</a>
        <a href="javascript:redireccionar(0, 'consultar-pedidos.php');"><i class="fas fa-list"></i>&nbsp;&nbsp;Consultar pedido</a>
        <a href="../../index.php"><i class="far fa-window-close nav-icon"></i>&nbsp;&nbsp;Cerrar sesión</a>-->
    </div>
</nav>