.lfw-datagrid {
    border: thin solid lightgray;
    font-family: Verdana,sans-serif;
    font-size: 13px;
}

.lfw-datagridHeader th {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

.lfw-dataGridBody td {
    border: none;
}

.lfw-input-filters {
    font-family: arial;
    font-size: 10px;
}