<div class="container misPedidos">
    <div class="cabecera my-5">
        <h1>MIS PEDIDOS</h1>
        <span>100203 - CASA JORGE S.R.L</span>
    </div>
    <form class="formulario my-3">
        <div class="contenedor-desde me-3">
            <label for="">FECHA DESDE:</label>
            <input type="date" name="desde" id="desde">
        </div>
        <div class="contenedor-hasta me-3">
            <label for="">FECHA HASTA:</label>
            <input type="date" name="hasta" id="hasta">
        </div>
        <button type="button" class="btn btn-primary">BUSCAR</button>
    </form>
    <div class="cuadrado"></div>
</div>
