<div class="container misPedidos">
    <div class="cabecera my-5">
        <h1>MIS PEDIDOS</h1>
        <span>{razonSocial} - {nombreSuc}</span>
    </div>
    <form class="formulario my-3">
        <div class="contenedor-desde me-3">
            <label for="">FECHA DESDE:</label>
            <input type="date" name="desde" id="desde">
        </div>
        <div class="contenedor-hasta me-3">
            <label for="">FECHA HASTA:</label>
            <input type="date" name="hasta" id="hasta">
        </div>
        <button type="button" class="btn btn-primary" id="buscar_misPedidos">BUSCAR</button>
    </form>
    <table id="contenedor-tabla-misPedidos" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nº DE PEDIDO</th>
                <th>FECHA DE ALTA</th>
                <th>ESTADO</th>
                <th>DETALLE</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
