@CHARSET "ISO-8859-1";

/* https://www.w3schools.com/howto/howto_js_dropdown.asp 
	w3dropdown.css
*/

 /* Dropdown Button */
.dropbtn 
{
    border: thin;
    border-radius: 4px;
    border-color: gray;
    height: 22px;
    width: 30px;
    cursor: pointer;
    background-color: white;
}

.dropdown-icon
{
	
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus 
{
	
}

/* The container <div> - needed to position the dropdown content */
.dropdown 
{
    position: relative;
    display: inline-block;
    font-size: 11px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content 
{
    display: none;
    left: -160px;
    position: absolute;
    color: #203814;
	text-decoration: none;
	padding: 0px;
	background-color: #EBF8A4;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a 
{
    color: black;
    padding: 4px 4px;
    text-decoration: none;
    display: block;
	border: 1px solid #cccccc;    
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover 
{
	background-color: #656565;
	color: white;
}

.dropdown-content-left
{
	text-align: left;
}

.dropdown-content-right
{
	text-align: right;
}

.dropdown-content-submenu
{
	text-align: right;
	font-size: 10px;
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show 
{
	display:block;
}
 