.equivalencias {
  text-align: center;
  font-family: 'futura' !important;
} 

.equivalencias h3 {
  color: #003d7c;
  font-weight: 700;
}

.logo-equi {
  width: 80%;
}

.contenedor-carrusel-equivalencias {
  text-align: center;
  
}

.contenedor-carrusel-equivalencias .card {
  align-items: center;
}

.contenedor-carrusel-equivalencias .descrip {
  font-size: 0.6em;
  margin-bottom: 4px;
}

.contenedor-carrusel-equivalencias .importe {
  font-weight: bold;
  line-height: 0.7;
  font-size: 0.9em;
}

.contenedor-carrusel-equivalencias .contenedor-pagina {
  justify-content: center;
}

.equivalencias .contenedor-pagina h6 {
  font-weight: 800;
}

.equivalencias .contenedor-pagina .col-lg-2 {
  width: 13%;
}
