<div class="row header-template-ficha">
    <div class="col-lg-3 mx-3">
        <a href="javascript:mostrar_articulos({rubroysub})"><i class="fa-solid fa-reply" title="Volver"></i></a>
    </div>
    <div class="col-lg-7">
        <div class="catalogo-container" id="catalogo-container">
            <div id="panel-opciones-container" class="panel-opciones-container">
                <div id="panel-opciones" class="panel-opciones">
                    <div class="row">
                        <div class="col-lg-3">
                            <label for="sel-modo" class="modo-label">MODO</label>
                            <select name="sel-modo" id="sel-modo" class="select-modo">
                                <option value="PED">Pedido</option>
                                <option value="PRE">Presupuesto</option>
                            </select>
                        </div>
                        <div class="col-lg-9">
                            <div class="options-container">
                                <ul>
                                    <li><input type="checkbox" id="ficha-opcion-lista" name="opcion-precios-lista" {lista}> <span>PRECIO
                                            DE LISTA</span></li>
                                    <li><input type="checkbox" id="ficha-opcion-costo" name="opcion-precios-costo" {costo}><span>PRECIO DE
                                            COSTO</span></li>
                                    <li><input type="checkbox" id="ficha-opcion-venta" name="opcion-precios-venta" {venta}>
                                        <span>PRECIO DE VENTA</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row ficha-articulo">
    <div class="col-lg-5 img-producto m-4">
        <!-- COLOCO CARRUSEL  -->
        <div id="carousel-ficha" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators"></div>
            <div class="carousel-inner"></div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-ficha"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-ficha"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!-- FIN DE CARRUSEL -->
    </div>
    <div class="col-lg-6 ficha-tecnica">
        <div class="ficha">
            <div class="logo-marca">
                
            </div>
            <div class="cuerpo-ficha container-fluid">
                <h3>{descripcion}</h3>
                <div class="row">
                    <div class="col-lg-6 precio-costo">
                        <p>PRECIO DE COSTO</p>
                        <h5>${precio_costo}</h5>
                    </div>
                    <div class="col-lg-6 precio-lista">
                        <p>PRECIO DE LISTA</p>
                        <h5>${precio_lista}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 precio-venta">
                        <p>PRECIO DE VENTA</p>
                        <h5>${precio_venta}</h5>
                    </div>
                    <div class="col-lg-6 stock">
                        <p>STOCK</p>
                        <ul class="semaforo" id="stock-ficha">
                            <li title="Dispoible"></li>
                            <li title="Consulte"></li>
                            <li title="Sin stock"></li>
                            <li title="Por pedido"></li>
                            <li title="Inhabilitado"></li>
                            </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid my-4 input-mas-carro">
                <input type="number" class="input-ficha mx-2" id="txtcantidad_{id_art}">
                <a href="javascript:agregarAlCarrito({id_articulo})" class="carrito-ficha mx-2" title="Agregar al Carrito"> <i class="fa-solid fa-cart-plus"></i></a>
            </div>
        </div>
        <div class="informacion">
            <h5>INFORMACIÓN</h5>
            <div class="info">
                <ul>
                    <li>Código: <span>{codigo}</span> </li>
                    <li>Información general: <span>{informacion_general}</span> </li>
                    <li id="ficha-codigos-originales">Código originales: </li>
                    <li>Datos técnicos: <span>{datos_tecnicos}</span> </li>
                    <li>Diámetro <span>{diametros}</span> </li>
                    <li>Unidades de venta: <span>{unidades_de_venta}</span> </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row footer-template">
    <div class="col-lg-4 offset-lg-3">
        <h4>APLICACIONES</h4>
        <ul>
            <li>EN CONSTRUCCIÓN</li>
        </ul>
    </div>
    <div class="col-lg-5 my-4">
        <button class="btn btn-ficha mx-3 efecto-sombra" type="button">+INFO</button>
        <button class="btn btn-ficha mx-3 efecto-sombra" type="button">CATÁLOGO</button>
    </div>
</div>
<div class="equivalencias my-4">
    <h3 class="my-4">EQUIVALENCIAS</h3>





    <div id="carrusel-equivalencias" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner contenedor-carrusel-equivalencias">

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carrusel-equivalencias"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carrusel-equivalencias"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>  