<link rel="stylesheet" href="./components/rentabilidad/style.css">
<h1 class="titulo-ganancia">Porcentaje de Ganancia</h1>
<div id="container-rentabilidad" class="container">
    <div class="contenedor-mgGral">
        <h6>MÁRGENES GENERALES</h6>
        <div class="contenedor-inputs">
            <input type="number" name="margen1" placeholder="Margen #1" min="0" required>
            <input type="number" name="margen2" placeholder="Margen #2" min="0" required>
        </div>
    </div>
    <div class="contenedor-mgEsp">
        <h6>MÁRGENES ESPECIALES</h6>
        <div class="contenedor-boxes">
            <select name="marcas" id="marcas">Marcas
                <option value="TODAS">Marcas</option>
            </select>
            <select name="Rubros" id="rubros">Rubros
                <option value="TODAS">Rubros</option>
            </select>
            <select name="Subrubros" id="subrubros">Subrubros
                <option value="TODAS">Subrubros</option>
            </select>
        </div>
        <div class="contenedor-imputs">
            <input type="number" name="margen1" placeholder="Margen #1">
            <input type="number" name="margen2" placeholder="Margen #2">
        </div>
    </div>


    <div id="buttonposition">
        <button id="buttonM" class="bstyle">+</button>
        <button id="buttonX" class="bstyle">X</button>
    </div>
    <div class="margenesEsp">
        <ul class="cabecera">
            <li>Marca</li>
            <li>Rubro</li>
            <li>Subrubro</li>
            <li>Rentabilidad #1</li>
            <li>Rentabilidad #2</li>
        </ul>
        <ul class="">
            <li class="left">OSRAM</li>
            <li>Electricidad Y electricidad grandes</li>
            <li>Pequeños</li>
            <li>20.00</li>
            <li class="right">0.00</li>
        </ul>
        <ul class="">
            <li class="left">MARELLI</li>
            <li>Electricidad</li>
            <li>Bateriuas</li>
            <li>35.00</li>
            <li class="right">0.00</li>
        </ul>
        <ul class="">
            <li class="left">MARELLI</li>
            <li>Electricidad</li>
            <li>Bateriuas</li>
            <li>35.00</li>
            <li class="right">0.00</li>
        </ul>
        <ul class="">
            <li class="left">MARELLI</li>
            <li>Electricidad</li>
            <li>Bateriuas</li>
            <li>35.00</li>
            <li class="right">0.00</li>
        </ul>
        <ul class="">
            <li class="left">MARELLI</li>
            <li>Electricidad</li>
            <li>Bateriuas</li>
            <li>35.00</li>
            <li class="right">0.00</li>
        </ul>
        <ul class="">
            <li class="left">MARELLI</li>
            <li>Electricidad</li>
            <li>Bateriuas</li>
            <li>35.00</li>
            <li class="right">0.00</li>
        </ul>
        <ul class="">
            <li class="left">MARELLI</li>
            <li>Electricidad</li>
            <li>Bateriuas</li>
            <li>35.00</li>
            <li class="right">0.00</li>
        </ul>
        <ul class="">
            <li class="left">MARELLI</li>
            <li>Electricidad</li>
            <li>Bateriuas</li>
            <li>35.00</li>
            <li class="right">0.00</li>
        </ul>
        <ul class="">
            <li class="left">MARELLI</li>
            <li>Electricidad</li>
            <li>Bateriuas</li>
            <li>35.00</li>
            <li class="right">0.00</li>
        </ul>
        <ul class="">
            <li class="left">MARELLI</li>
            <li>Electricidad</li>
            <li>Bateriuas</li>
            <li>35.00</li>
            <li class="right">0.00</li>
        </ul>
        <ul class="">
            <li class="left">MARELLI</li>
            <li>Electricidad</li>
            <li>Bateriuas</li>
            <li>35.00</li>
            <li class="right">0.00</li>
        </ul>
        <ul class="">
            <li class="left">MARELLI</li>
            <li>Electricidad</li>
            <li>Bateriuas</li>
            <li>35.00</li>
            <li class="right">0.00</li>
        </ul>

        <div id="buttonoption">
            <button id="Aceptar">Aceptar</button>
            <button id="Cerrar">Cerrar</button>
        </div>
    </div>

</div>