<link rel="stylesheet" href="./components/rentabilidad/style.css">
<h1 class="titulo-ganancia">Porcentaje de Ganancia</h1>
<div id="container-rentabilidad" class="container">
    <div>
        <div class="contenedor-mgGral">
            <h6>MÁRGENES GENERALES</h6>
            <hr>
            <div class="contenedor-inputs">
                <label for="margen1">Margen #1</label>
                <input type="number" name="margen1">
                <label for="margen2">Margen #2</label>
                <input type="number" name="margen2">
            </div>
        </div>
        <div class="contenedor-mgEsp">
            <h6>MÁRGENES ESPECIALES</h6>
            <hr>
            <div class="contenedor-boxes">
                <select name="marcas" id="marcas">Marcas
                    <option value="TODAS">TODAS</option>
                </select>
                <select name="Rubros" id="rubros">Rubros
                    <option value="TODAS">TODAS</option>
                </select>
                <select name="Subrubros" id="Subrubros">Subrubros
                    <option value="TODAS">TODAS</option>
                </select>
            </div>
            <div class="contenedor-imputs">
                <label for="margen1">Margen #1</label>
                <input type="number" name="margen1">
                <label for="margen2">Margen #2</label>
                <input type="number" name="margen2">
            </div>
        </div>
        <div class="margenesEsp">
            <ul class="cabecera">
                <li class="left">Marca</li>
                <li>Rubro</li>
                <li>Subrubro</li>
                <li>Rentabilidad #1</li>
                <li>Rentabilidad #2</li>
            </ul>
            <ul class="">
                <li class="left">OSRAM</li>
                <li>Electricidad Y electricdad grandes</li>
                <li>Pequeños</li>
                <li>20.00</li>
                <li>0.00</li>
            </ul>
            <ul class="">
                <li class="left">MARELLI</li>
                <li>Electricidad</li>
                <li>Bateriuas</li>
                <li>35.00</li>
                <li>0.00</li>
            </ul>
        </div>
    </div>
</div>