/*
 * Contiene el estilo para la GUI de la gestión de pedidos para vendedores.
*/

.contenedor-cabecera {
    position: relative;
    width: 100%;
    padding: 5px;
    border-bottom: solid thin gray;
    margin-bottom: 5px;
}

.div-total-pedido-seleccionado {
    position: relative;
    float: right;
}