/**
 * Contiene el estilo de la página donde se presenta el catálogo digital.
*/

.panel-opciones-container {
    width: 100%;
}

.panel-opciones-container label {
    font-family: "futura";
    font-size: 10pt;
    font-weight: bold;
    
}

.panel-opciones {
    width: 100%;
}

.modo-label {
    color: #003d7c;
}

.select-modo {
    font-family: "futura";
    font-size: 10pt;
    font-weight: bold;
    margin-left: 5px;
    width: 120px;
}

.options-container {
    width: 100%;
}

.options-container ul {
    list-style: none;
}

.options-container ul li {
    display: inline-block;
    margin-left: 10px;
}

.options-container span {
    margin-left: 5px;
}