
<article class="col-md-12">
    <div class="card">
        <div class="card-header">
        </div>
            <div class="card-body">
                <table id="ipr_grid_articulos" class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id.</th>
                            <th>Código</th>
                            <th>Descripción</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
    </div>

</article>

<table id="ipr_grid_articulos" class="table">
    <thead>
        <tr>
            <th>Id.</th>
            <th>Código</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

