<form id="frm-ingreso-pedido-rapido" name="frm-ingreso-pedido-rapido">

    <main id="main" class="container">
        <header class="row ipr-header">
            <div class="col-md-13">
                <h5>Ingreso de pedidos rápido</h5>
            </div>
        </header>

        <section id="ipr-cabecera" class="row ipr-cabecera">
            <div class="col-md-4">{lfw-datalist-bs}</div>
        </section>

        <hr>
        <section id="ipr-items" class="row ipr-items-container">
            <div class="col-md-2">
                <label for="txtCodArt" class="form-label">Artículo</label>
                <input id="txtCodArt" name="txtCodArt" class="form-control" type="text">
            </div>

            <div class="col-md-8">
                <label for="txtDescripcion" class="form-label">Descripción</label>
                <input type="text" id="txtDescripcion" name="txtDescripcion" class="form-control" readonly>
            </div>

            <div class="col-md-2 mb-3">
                <label for="txtCantidad" class="form-label">Cantidad</label>
                <input id="txtCantidad" name="txtCantidad" class="form-control" type="number" style="text-align: right;">
            </div>

            <div id="ipr_grid_items_container" class="contenedor-grid-items">
                <table id="ipr_grid_items" class="table table-bordered table-hover">
                    <!--<thead>
                        <th>Renglón</th>
                        <th>Código</th>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Precio Unit.</th>
                        <th>Subtotal</th>
                    </thead>-->
                </table>
            </div>
        </section>

        <footer class="ipr-footer">
            <div class="row">
                <div class="col-md-6">
                    <button id="btnConfirmarPedido" name="btnConfirmarPedido" type="button" class="btn btn-primary mt-1">
                        <i class="fa-regular fa-circle-check"></i> Confirmar</button>    
                    <button id="btnVolver" name="btnVolver" type="button" class="btn btn-secondary ms-1 mt-1">
                        <i class="fa-solid fa-arrow-left"></i> Volver</button>
                </div>

                <div class="col-md-6">
                    <div class="div-total">
                        <label for="txtTotal" class="form-label">Total</label>
                        <input type="numeric" id="txtTotal" name="txtTotal" class="form-control" style="text-align: right;" readonly>
                    </div>        
                </div>
            </div>
        </footer>
        
    </main>
</form>